@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');

body {
    background-image: url("/Naruto/images/bg_animegallery_pc.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
    font-style: normal;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
   
}

.nav-logo {
    display: flex;
    align-items: start;
    gap: 10px;
}


header img {
    width: 150px;
    margin: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
}

.header-container button {
    padding: 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue' , 'sans-serif';
    background-color: rgb(0, 0, 0);
    margin: 10px;
}

.nav-button{
    position: relative;
    z-index: 20;
    right: -80%;
}

.nav-button button {
    padding: 25px;
    font-size: large;
    font-weight: bold;
}

.nav-search {
    display: flex;
    position: relative;
    justify-content: center;
    right: -100%;
    z-index: 10;
    width: 80%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 100%;
    transition: all 0.5s ease-in-out;
    z-index: 30;
}

.nav-search.active {
    right: 0;
    transition: all 0.5s ease-in-out;
}

.search {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.nav-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-info a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 20px;
}





section{
    position: relative;
    display: flex;
    margin-top: 136px;
    padding: 10px;
    justify-content: center;
    z-index: 10;
}

.anime-gallery-container {
    width: 73%;
    backdrop-filter: blur(1px);
    background-color: rgba(0,  0, 0, 0.7);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
    overflow: hidden;
}
.anime-gallery-heading {
    background-color: black;
    font-weight: normal;
    font-size: 45px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    justify-content: center;
    width: 90%;
    padding: 10px;
}
h1 {
    margin: 0;
}
.anime-gallery-heading h1 {
    text-orientation: sideways;
}

.anime-gallery-description {
    color: white;
    font-size: 25px;
    padding: 0 20px;
}

.anime-gallery {
    width: 100%;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 0;
    gap: 20px;
    font-weight: 400;
}

.anime-image {
    color: white;
    width: 200px;
}

.anime-image:hover {
    opacity: 0.7;
    cursor: pointer;
}


.anime-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
}

.gallery-link {
    width: 100%;
    height: 200px;
    background-color: rgb(239, 136, 57);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}



.link-chara {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.link-chara img {
    position: relative;
    z-index: 10;
    width: 400px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.btn-link {
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 5px;
}

@media (max-width: 768px) {

    body {
        background-position: top right;
    }


    header img {
    width: 100px;
    margin: 20px;
    }

    .header-container button {
    padding: 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue' , 'sans-serif';
    background-color: rgb(0, 0, 0);
    }

    .nav-button{
    position: relative;
    z-index: 20;
    right: -67%;
   }

    section {
        margin-top: 100px;
        padding: 5px;
    }

    .anime-gallery-container {
        width: 90%;
        padding: 20px 0px;
    }

    .anime-gallery-heading {
        font-size: 25px;
        width: 85%;
        padding: 5px;
    }

    .anime-gallery-description {
        font-size: 18px;
        padding: 0 10px;
    }

    .anime-gallery {
        gap: 4px;
    }

    .anime-image {
        width: 120px;
        font-size: small;
    }
}